.goal-complete {
  border-color: var(--bs-success-border-subtle);
}
.goal-overdue {
  border-color: var(--bs-danger-border-subtle);
}
.goal-active {
  border-color: var(--bs-warning-border-subtle);
}
.card-footer form {
  display: inline;
}
.card > .card-footer {
  margin-top: auto;
}
