<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {{>header}}
     </head>

    <body class= "container-fluid " style="background-color:darkslateblue;">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    
        <div class="container border-light shadow-lg" style="background-color: #3d598b; margin-top:50px; border-radius: 10px">
                        <div class="page-header text-lg-center text-light" style="padding: 5px;">
                            <h1>
                                This form will allow you to update your existing goal.
                            </h1>
                        </div>
                    </div></br> </br> 

            <div class="container border-dark text-white shadow-lg" style="background-color: #3d598b; padding: auto; border-radius: 10px ;">
               </br> <div class="row-cols-auto gy-5">
                    <div class="col-12 p3">
                        <form method="post"role="form" class="row g-2" align="center">
                          {{#plan}}
                          <form method="post"role="form" class="form-horizontal">
                            <table class="table table-borderless align-content-md-center" style="background-color: #6f3d8b; padding-inline: 5px;">
                                <thead>
                                <th class="text-center">Goal</th>
                                </thead>
                                <tbody>
                                <td><input type="text" class="form-control text-center"  name="goalname" id="goalname" value="{{exercise}}" /></td>
                                  <tr><td>
                                      <table class="table table-striped table-borderless table-responsive-lg">
                                        <thead>
                                            <th class="text-center">Exercise</th>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Details</th>
                                          </thead><tbody>
                                            
                                            {{#goals}}
                                            <tr>
                                              <td><input type="text" style="height:40px ;" class="form-control text-center" name="exercise" id="exercise" value="{{exercise}}" required /></td>
                                              <td><input class="form-control text-center " style="height:40px;" type="date" value="{{endDate}}" name ="endDate" id="endDate" required /></td>
                                              <td><input type="text" style="height:40px ;" class="form-control text-center" name="details" id="details" value="{{activity}}" required /></td>
                                            </tr>  
                                                   
                                            {{/goals}}
                                          </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="form-group" align="center" style="padding: 10px;">
                                <input type="submit" value="Update Goal" class="btn btn-rounded btn-secondary shadow-lg">
                                </div>
                            {{/plan}}
                          </form>

                    </div>
                </div>
            

            </div>

    
    </body>
</html>

