<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
       {{>header}}
    </head>
    <body class ="container" style="background-color:darkslateblue; ">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{^plan}}
        <div class="container shadow-lg border-light" style="background-color: #3d598b; border-radius: 10px;">
                <div class="row gy-5" style="padding: 5px; ;">
                        <div class="col-12 p-3 text-light text-lg-center text-capitalize">
                            <p>
                                
                                No goals yet.
                                Please add some goals
                                
                            </p>
                        </div>
                    </div>
                </br>
        </div>
        {{/plan}}
         
        </br>
        {{^home}}
        {{#user}}
        <div class="container-fluid" style="background-color: transparent;  border-radius: 10px; padding: auto;">
                 <div class="row " style="padding: 5px;;">
                    <div class ="card-group justify-content-evenly">
                            <div class="card shadow" style=" background-color:palevioletred ; min-height: fit-content; min-width: 13rem; max-width: fit-content; border-radius:15%">
                                <h5 class="card-header text-center text-capitalize">
                                      Overdue Goals <i class="fas fa-times-circle"></i>
                                </h5>
                                <div class="card-body" style="min-height: max-content;" >
                                    <h1 class="card-title text-center">{{overduegoalscount}}</h1>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="btn-group rounded-pill btn-group-sm shadow-lg">
                                     <a href="overduegoals" title="View Overdue Goals" class="btn btn-rounded float-left btn-outline-dark"><i class="far fa-eye"></i></a>
                                     <a href="/new" title="Add a new goal" class="btn btn-rounded float-right btn-outline-dark"><i class="fas fa-plus"></i></a>
                                 </div></div>
                            </div>
                        
                        
                            <div class="card shadow" style="background-color:goldenrod; min-height: fit-content; min-width: 13rem; max-width: fit-content; border-radius:15%">
                                <h5 class="card-header text-center text-capitalize">
                                    Incomplete Goals <i class="far fa-calendar-check"></i>
                                </h5>
                                <div class="card-body" style="min-height: max-content;" >
                                    <h1 class="card-title text-center">{{incompletegoalscount}}</h1>
                                </div>
                                
                                <div class="card-footer text-center">
                                    <div class="btn-group rounded-pill btn-group-sm shadow-lg">
                                     <a href="incompletegoals" title="View Incomplete Goals" class="btn btn-rounded float-left btn-outline-dark"><i class="far fa-eye"></i></a>
                                     <a href="/new" title="Add a new goal" class="btn btn-rounded float-right btn-outline-dark"><i class="fas fa-plus"></i></a>
                                 </div></div>
                            </div>

                            <div class="card shadow" style=" background-color:darkseagreen; min-height: fit-content; min-width: 13rem; max-width: fit-content; border-radius:15%;">
                                <h5 class="card-header text-sm-center text-capitalize">
                                      Complete Goals <i class="fas fa-trophy"></i>
                                </h5>
                                <div class="card-body" style="min-height: max-content;" >
                                    <h1 class="card-title text-center">{{completedgoalscount}}</h1>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="btn-group rounded-pill btn-group-sm shadow-lg">
                                     <a href="completedgoals" title="View Completed Goals" class="btn btn-rounded float-left btn-outline-dark"><i class="far fa-eye"></i></a>
                                     <a href="/new" title="Add a new goal" class="btn btn-rounded float-right btn-outline-dark"><i class="fas fa-plus"></i></a>
                                 </div></div>
                            </div>
                        
                 </div>
            </div>
        </div>
        </br>
            </br>
        </br>
        <div class="container shadow-lg" style="background-color: #3d598b; border-radius: 10px ;">
            <div class="row gy-5">
                <div class="col-12 g-5">
                    <div class ="justify-content-center m-3 card-group gap-3">
                        {{#plan}}  
                            {{^achieved}}
                            {{^overdue}}
                            <div class="card m-2 border-{{colour}} shadow" style="border-width: 1px; ; background-color:goldenrod; min-height: 7rem; min-width: fit-content; max-width: fit-content; border-radius:10%">
                             {{/overdue}}  
                             {{#overdue}}
                             <div class="card m-2 border-{{colour}} shadow" style="border-width: 1px; ; background-color:palevioletred; min-height: 7rem; min-width: fit-content; max-width: fit-content; border-radius:10%">
                             {{/overdue}}
                             {{/achieved}}
                             {{#achieved}}
                             <div class="card m-2 border-{{colour}} shadow" style="border-width: 1px; ; background-color:darkseagreen; min-height: 7rem; min-width: fit-content; max-width: fit-content; border-radius:10%">
                            {{/achieved}}
                             
                             

                                
                                <div class="card-header text-center shadow-sm text-capitalize">
                                    <h2 class="text-lg  ">{{exercise}}</h2>
                               {{^achieved}}
                                    <div class="card-subtitle text-sm text-capitalize">
                                    Due by {{endDate}}
                                </div>
                                {{/achieved}}
                                {{#achieved}}
                                    <div class="card-subtitle text-sm text-capitalize">
                                    Completed
                                </div>
                                {{/achieved}}
                            </div>
                            {{#goals}}
                            <li class="list-group-item d-flex text-capitalize list-group-flush justify-content-between align-items-start" style="background-color: transparent; border-color: transparent;">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">{{exercise}}</div>
                                  {{activity}}
                                </div>
                                <span class="badge text-black-50 bg-transparent rounded-pill"><a href="/week/{{weekNo}}"Week {{weekNo}}</a></a></a></span>
                              </li>
                            {{/goals}}
                            <div class="card-footer text-center">
                               <p>Set by <a href="/posts/{{user}}">{{user}}</a> on {{started}}</p>
                               <div class="btn-group rounded shadow">
                                   {{^achieved}}
                                   {{^overdue}}
                                <a href="/edit/{{_id}}" title="Edit" class="btn float-left btn-outline-dark"><i class="fas fa-edit"></i> </a>
                                <a href="/share/{{_id}}" title="Share" class="btn btn-outline-dark"><i class="fas fa-share-alt"></i> </a>
                                <a href="/delete/{{_id}}" title="Delete" class="btn btn-outline-dark"><i class="fas fa-eraser"></i> </a> 
                                <a href="/completegoal/{{_id}}" title="Complete" class="btn float-right btn-outline-dark"><i class="fas fa-check-double"></i></a>
                                {{/overdue}}
                                {{#overdue}}
                                <a href="/delete/{{_id}}" title="Delete" class="btn btn-rounded btn-outline-dark"><i class="fas fa-eraser"></i> </a>
                                {{/overdue}}
                                {{/achieved}}
                                 {{#achieved}}
                                    <a href="/share/{{_id}}" title="Share" class="btn btn-rounded btn-outline-dark"><i class="fas fa-share-alt"></i> </a>
                                 {{/achieved}}
                                
                            </div></div>
                    </div>
                
                        <hr>
                        {{/plan}}
                    </br></br>
                    </div> 
                </div>
            </br></br>
                </div>
            </br></br>
            </div>
            {{/user}}
        </br>
            </br>
        </br>
        <script src="" async defer></script>
    </body>
    
</html>